<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Welcome to Merlin's Potions." />
    <meta name="robots" content="INDEX,FOLLOW" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <title>Merlin's Potions</title>
    <!-- IMPORTS -->
    <!-- CSS -->
    <link rel="stylesheet" href="./css/mainStyle.css">
    <!-- /CSS -->
    <!-- JS -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="./js/app.js" defer></script>
    <!-- /JS -->
    <!-- /IMPORTS -->
</head>

<body>
    <!-- NAVBAR-->
    <!-- Top view -->
    <nav>
        <ul class="nav-search-main">
            <li class="nav-search-item"><img src="" alt="Logo da empresa"></li>
            <li class="nav-search-item"><a href="">Search</a></li>
        </ul>
    </nav>
    <!-- /Top view -->
    <!-- Nav view -->
    <nav>
        <ul class="nav-list">
            <li class="nav-item"><a href="">Potions</a></li>
            <li class="nav-item"><a href="">Ingredients</a></li>
            <li class="nav-item"><a href="">Books</a></li>
            <li class="nav-item"><a href="">Supplies</a></li>
            <li class="nav-item"><a href="">Charms</a></li>
            <li class="nav-item"><a href="">Clearance!</a></li>
            <li class="nav-item"><a href="">Sign In</a></li>
            <li class="nav-item"><a>Or</a></li>
            <li class="nav-item"><a href="">Sign Up</a></li>
        </ul>
    </nav>
    <!-- /Nav view -->
    <!-- /NAVBAR -->
    <!-- CONTENT -->
    <div class="wrapper-grid">
        <div id="potions">
            <section v-if="errored">
                <p>Pedimos desculpas, não estamos conseguindo recuperar as informações no momento. Por favor, tente
                    novamente mais tarde.</p>
            </section>
            <div v-else>
                <div v-for="(potion, index) in potions_list" :key="index">
                    <div class="img"></div>
                    <h1>{{potion.name}}</h1>
                    <!-- <p>{{potion.effect}}</p> -->
                    <p>{{potion.price}}</p>
                    <!-- <div v-for="(ingredient, index) in potion.ingredients" :key="index">
                        <ul>{{ingredient}}</ul>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <!-- /CONTENT -->
</body>

</html>